<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="static/img/favicon.jpg" class="favicon">
    <title>Amarillitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body style="background-color: #343333;">
    <div class="container-fluid">
        <header>
            <img src="/static/img/banner.jpg" class="img-fluid mt-2 w-100" alt="Banner" >
            <div class="navbar mt-2 rounded-4" style="background-color: #ffde59;">
                <div class="container-fluid w-100">
                    <a class="navbar-brand w-20" href="/">
                        <img src="/static/img/nav.png" alt="NavImg" class="w-75">
                    </a>
                    <form action="/search" class="w-30">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" name="search" >
                            <button class="btn btn-light" type="submit">Buscar</button>
                        </div>
                    </form>
                    <div>
                        <select class="form-select h-50">
                            <option selected>Elegir categoría</option>
                            <option >One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>
                    </div>
                    <div class="w-25">
                        <a href="/" class="btn btn-light">Inicio</a>
                        <a href="/logout/user" class="btn btn-light">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </header>
        <br class="hidden">

        <main>
            <div class="container mt-5">
                <div class="profile container-fluid">
                    <div class="photo d-flex  justify-content-center">
                        <img src="/static/img/profile.jpg" alt="Imagen de perfil" style="width: 15%; height: 15%; border-radius: 50%;">
                    </div>
                    <div class=" d-flex justify-content-center">
                        <h4 class="mt-2" style="color: white;">{{user.first_name}} {{user.last_name}}</h4> 
                    </div>
                    <div class="d-flex justify-content-center">
                        <h6 style="color: white;">{{user.email}}</h6>
                    </div>
                    <div class="d-flex  justify-content-center">
                        <a href="/edit/user/{{user.id}}" class="btn mt-2" style="background-color: #ffde59;">Editar perfil</a>
                    </div>
                </div>
                <br class="hidden">



            <!-- ACÁ HAY QUE CAMBIARLOS POR PRODUCTOS NUEVOS O ACTUALIZADOS RECIENTEMENTE -->
                <h3 class="mt-5 container-fluid"  style="color: #ffde59">NOVEDADES</h3>
                <div class="cards d-inline-flex justify-content-center mt-3" style="height: 20em;"> 
                    {% for product in products %}
                            <div class="card m-2 col-2 rounded-3 overflow-y-auto">
                                <img src="/static/img/empresa1.jpg" class="card-img-top" alt="Empresa1">
                                <div class="card-body d-block justify-content-center">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <div >
                                        <p style="font-size: 1em;">{{product.description}}</p>
                                    </div>
                                    <div>
                                        <a href="/product/{{product.id}}" class="btn" style="background-color: #ffde59; color:#343333">Ver</a>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        <footer class="my-5">
            <div class="d-flex justify-content-center"  style="font-size: 1em;">
                <a href="#" class="mx-3"  style="color: #ffde59">SOBRE NOSOTROS</a>
                <a href="#" class="mx-3" style="color:  #ffde59">FAQ</a>
                <a href="#" class="mx-3" style="color:  #ffde59">TÉRMINOS Y CONDICIONES</a>
                <a href="#" class="mx-3" style="color:  #ffde59">CONTACTO</a>
                <i class="bi bi-instagram mx-3" style="color:  #ffde59"></i>
                <i class="bi bi-facebook mx-3" style="color:  #ffde59"></i>
                <i class="bi bi-whatsapp mx-3" style="color:  #ffde59"></i>
            </div>
        </footer>
    </div>
</body>
</html>